


/*********************   header   *********************/
body{
    font-family: Raleway, serif;
}
header {
  display: flex;
/*align-items: center;*/
margin: 0px;
padding: 0px;
border: 1px solid black; 
}

#logo:nth-child(1){
    flex: 2;
}
ul{
    list-style-type: none;  
    border: 1px solid black; 
    
}
li{
    display: inline-block; 
   
   
        margin-right: 20px ;
    border: 1px solid black; 
  

}