body{
    font-family: "Raleway", Arial, sans-serif;
    font-size: 0.6em;
}


/*********************   header   *********************/

header {
  display: flex;
  flex-wrap: wrap;
align-content: flex-start;
border: 1px solid black; 
}

#presentation:nth-child(1){
    flex: 2;
    min-width: 300px;  
}

ul{
    list-style-type: none;  
    border: 1px solid black; 
    
}
li{
    display: inline-block;  
   
        margin-right: 20px ;
    border: 1px solid black; 
  

}